includes:
    - vendor/shipmonk/dead-code-detector/rules.neon

parameters:
    level: 0
    paths:
        - src
    
    # Configure dead code detection
    shipmonkDeadCode:
        detect:
            deadMethods: true
            deadConstants: true
            deadEnumCases: false